*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
    background-color: rgb(124, 121, 121);
}

.container{
    margin-block: 8px;
    padding-inline: 32px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    width: 30px;
}

.logo{
    width: 80px;
    border-radius: 50%;
    border: 4px solid purple;
}

summary{
    list-style: none;
}

.card{
    background-image: url(../img/sutlu-tatlilar-banner-1.jpg);
    background-repeat: no-repeat;
    padding: 120px 0 30px 0px;
    border-radius: 12px;
    color: white;
    margin-block: 24px;
    transition: all 0.5s ease-in-out;
    
}

.card:hover{
    transform: scale(1.05);
    height: 250px;
}

/* .header-h2{
    box-shadow: 0 0 20px 10px;
} */
.menuler{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 14px;
}

.menu{
    display: flex;
    gap: 16px;
    width: 100%;
}

.photo{
    width: 130px;
    border-radius: 8px;
    border: 3px solid purple;
}

.description{
    display: flex;
    flex-direction: column;
}

.header-price{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed orange;
}

.text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-block-start: 12px;
    color: white;
    & > span{
        font-size: 18px;
        font-weight: 300;
    }
}

/* Desktop */
@media(width >= 1110px){
    .container{
        margin-block: 12px;
        padding-inline: 52px;
    }

    .icon{
        width: 40px;
    }

    .logo{
        width: 100px;
        border-radius: 50%;
        border: 6px solid purple;
    }

    .text{
        gap: 6px;
        & > span{
            font-size: 24px;
            font-weight: 500;
        }
    }

    .card{
        transition: all 0.5s ease-in-out;
    }
    
    .card:hover{
        transform: scale(1.05);
        height: 200px;
    }
    .menuler{
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
}